elixir:
  result = query!("""
    query MyQuery($locale: SiteLocale!) {
      homePage(locale: $locale) {
        title
      }
    }
  """, %{locale: params.locale})

  page = result[:homePage]

header
  .wrap
    h1
      = page.title
