- page = params.page
/ - locale = params.locale
/ - info = info(locale)
/ - blocks_manifesto = page.blockManifesto
/ - blocks_advisor = page.blockAdvisor
/ - blocks_team = page.blockTeam

- content_for(:head)
  = dato_meta_tags(params.page)

header.hero
  .wrap
    = "selection program investments page"

