/ - locale = params.locale
/ - info = info(locale)

/ footer#footer.site-footer

/   .site-footer__content
/     .wrap
/       = "Contenuto Footer"

/   .site-footer__copy
/     .wrap
/       p = "®#{DateTime.utc_now().year} -"
/       = info.copyFooter