// Bemo variables for Colors variant
// Use inside blocks, utilities and mixins
//
$enable-color-gradients: false !default

// Color variables
$white-color:    #ffffff !default
$gray-color:     #474747 !default
$black-color:    #000000 !default
$black-background: #131213 !default
$blue-color:     #43AAFF !default
$blue-l-color:   #00FFFF !default
$yellow-color:   #FFFF00 !default
$green-color:    #00EA74 !default
$grid-color:     #A0A0A0
$border-color:   #979797
$gray-l-color:   #AFAFAF
$background-l:   rgba(#1E1E1E, .55)


// Base map color
$base-colors: () !default
$base-colors: map-merge(("white": $white-color, "green": $green-color, "blue": $blue-l-color, "yellow": $yellow-color, "gray": $gray-color, "black": $black-color), $base-colors)

// Insert the custom color schema inside the bemo-colors map
$bemo-colors: () !default

// derived
$all-colors:    map-merge($base-colors, $bemo-colors)

$base-body-color: $black-color !default
$base-body-background: $black-color !default

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:    $black-color !default
$yiq-text-light:   $white-color !default

$gradient: linear-gradient(to right, $green-color, $blue-color)
