// Bemo variables for Typeface variant
// use inside blocks, utilities and mixins
//

// Import custom Fonts

@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Raleway:wght@400;700&display=swap');

$typeface-base:          'Raleway', sans-serif !default
$typeface-heading:       'Days One', sans-serif !default

$body-font-family:       $typeface-base !default
$body-font-weight:       400 !default

$heading-font-family:    $typeface-heading !default
$heading-font-weight:    900 !default