$size: 50px

.block-numbered
  +vertical-padding(3)
  // +at-breakpoint(lap)
  //   +vertical-padding(12)
  counter-increment: my-awesome-counter

  .block-numbered-counter
    position: absolute
    top: 20px
    right: 30px
    +at-breakpoint(lap)
      top: 35px
      right: 50px

    &::before
      content: "0"counter(my-awesome-counter)
      +heading-font-family
      letter-spacing: 2px
      width: $size
      height: $size
      display: block
      text-align: center
      line-height: $size
      +font-size(epsilon)


    &:nth-child(odd)
      .image--standard
        +at-breakpoint(lte-tab)
          transform: translateX(-20%)

    &:nth-child(even)
      .image--standard
        +at-breakpoint(lte-tab)
          transform: translateX(20%)