// Bemo Button component
//
// @example usage:
//  .button, .button--black, .button--small

.button
  +button
  @include button-size($button-padding-vertical, $button-padding-horizontal, $base-font-size)
  border: $button-border-width solid transparent
  @if $enable-button-rounded
    border-radius: $button-border-radius
  @if $enable-transitions
    +base-transition('bounce', 'base')

  // Block button
  &--expand
    display: block
    width: 100%

//
// Button Sizes
@if $enable-button-size
  .button--small
    @extend .button
    @include button-size(6px, 10px, "smallprint")

  @if $enable-button-colored
    @each $color, $value in $all-colors
      .button--small-#{$color}
        @extend .button--small
        @include button-variant($value, $value)

    @each $color, $value in $all-colors
      .button--small-#{$color}-outline
        @extend .button--small
        @include button-outline-variant($value)

//
// Alternate buttons
@if $enable-button-colored
  @each $color, $value in $all-colors
    .button--#{$color}
      @extend .button
      @include button-variant($value, $value)

  @each $color, $value in $all-colors
    .button--#{$color}-outline
      @extend .button
      @include button-outline-variant($value)

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"]
  &.button--expand
    width: 100%

.button
  display: inline-flex
  letter-spacing: 1px
  text-align: center
  align-items: center
  font-weight: bold
  
.button--rounded
  @extend .button
  background-color: $gray-d-color
  +font-size(smallprint)
  border-radius: 36px
  color: white
  padding: 1rem 2.5rem
  z-index: 0
  position: relative
  overflow: hidden
  &::after
    content: ""
    +center
    width: 0px
    height: 0px
    background-color: $red-color
    border-radius: 0px
    z-index: -1
    transition: .7s
  +hover
    &::after
      width: 110%
      height: 400px
      border-radius: 500px
    i
      margin-left: 1rem


.button--uppercase
  @extend .button
  text-transform: uppercase

.button--uppercase--bg-transparent
  @extend .button--uppercase
  +at-breakpoint(lte-tab)
    border-radius: 100%
    border: 1px solid rgba($white-color, .5)
    width: 60px
    height: 60px
  text-align: center
  position: relative

  .button__label
    +at-breakpoint(lte-tab)
      display: none
  i
    +at-breakpoint(lte-tab)
      +center
      transform: translate(-50%, -50%) scale(-1)
    width: 20px
    +at-breakpoint(lap)
      +margin-right(1)

.button-fixed
  height: 60px
  width: 60px
  border-radius: 60px
  margin-bottom: -30px
  background-color: $red-color
  display: block
  +position(sticky, 10px 0 null null)
  left: calc(100vw - 120px)
  z-index: 200
  transition: .3s
  +at-breakpoint(lap)
    margin-bottom: -41px
    height: 82px
    width: 82px
    border-radius: 82px
    left: calc(100vw - 170px)
  +at-breakpoint(desk)
    left: calc(100vw - 16vw)
  +at-breakpoint(full)
    left: calc(100vw - 18vw)
  i
    +center

  +hover
    &:hover
      transform: scale(1.1)


