.canvas
  position: relative
  min-height: 100vh
  overflow-x: hidden

.canvas__header__top
  +position(fixed, 0 0 null 0)
  z-index: $canvas-z-index
  display: flex
  justify-content: space-between
  align-items: center
  height: $canvas-mobile-topbar-height
  +margin-top(1)
  +horizontal-padding(5vw)
  +at-breakpoint(tab)
    height: $canvas-desk-topbar-height
    +horizontal-padding(6vw)
  +at-breakpoint(full)
    +horizontal-padding(8vw)
  &::after
    background: linear-gradient(180deg, $black-background 30%, rgba($black-background, 0) 90%)
    content: ""
    height: 100px
    +position(fixed, 0 0 null 0)
    z-index: -1
    +at-breakpoint(tab)
      height: 200px

.canvas__header__logo
  display: block
  background-image: image-url("logo.png")
  background-repeat: no-repeat
  background-size: contain
  text-indent: 100%
  width: 70px
  height: 20px
  white-space: nowrap
  overflow: hidden
  transition: none

  +at-breakpoint(lap)
    width: 140px
    height: 40px

.canvas__header__payoff
  margin-top: 4px
  font-size: 5px
  +heading-font-family
  color: white
  +at-breakpoint(lap)
    margin-top: 10px

.canvas__header__top__right
  display: flex
  justify-content: space-between
  align-items: center
  // width: 50vw
  // +at-breakpoint(tab)
  //   width: 30vw
  // +at-breakpoint(lap)
  //   width: 33.3333%
  //   +horizontal-padding(1)
  // +at-breakpoint(lap)
  //   width: 350px
  // +at-breakpoint(monitor)
  //   width: 24%

.canvas__header__top-nav
  display: none
  +at-breakpoint(lap)
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: stretch

.canvas__header__top-nav__item
  flex-grow: 2
  max-width: 20%
  text-align: center
  +at-breakpoint(lap)
    max-width: 100%

  &:first-child
    border: none

.canvas__header__cta:first-child
  margin-right: 15px
  +at-breakpoint(lap)
    margin-right: 40px

.canvas__header__cta__label
  +heading-font-family
  text-align: center
  text-transform: uppercase
  font-size: 7px
  +at-breakpoint(lap)
    font-size: 10px

.canvas__header__cta__label--investments
  @extend .canvas__header__cta__label
  color: $blue-color
.canvas__header__cta__label--venture
  @extend .canvas__header__cta__label
  color: $green-color

.canvas__header__cta__link
  +heading-font-family
  display: flex
  justify-content: center
  align-items: center
  color: white
  text-transform: uppercase
  font-size: 10px

  +at-breakpoint(lap)
    font-size: 13px

  & > div
    margin-right: 8px

.canvas__main
  overflow-x: hidden
  main
    color: $white-color

.canvas__header__top__bottom
  +position(relative, auto auto auto auto)
  background: none
  z-index: $canvas-z-index
  color: $base-body-color
  height: auto

.canvas__header__top-nav__link
  color: $base-body-color
  display: flex
  align-items: center
  +vertical-padding(1)
  +horizontal-padding(2)

  span
    font-weight: 500
    letter-spacing: 1px
    +font-size(milli)

  i
    +margin-right(1)
    width: 20px
    height: 20px

.canvas__header__menu-and-switcher
  display: flex

