
.site-nav__toggler
  background-color: transparent
  +center-vertically
  right: 0
  height: 30%
  width: 60%
  display: block
  border: none
  -webkit-appearance: none
  border: none
  cursor: pointer
  display: flex
  flex-direction: column
  
  span
    +position(absolute, auto)
    background: $white-color
    border-radius: 2px
    height: 2px
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6)

    &:nth-of-type(1)
      width: 100%
      top: 20%
    &:nth-of-type(2)
      width: 60%
      right: 0
      bottom: 20%


  &.is-open    
    span:nth-of-type(1)
      transform-origin: bottom
      width: 90%
      transform: rotatez(45deg) translate(7px,0px)

    span:nth-of-type(2)
      transform-origin: top
      width: 90%
      transform: rotatez(-45deg) translate(3px,0px)      

  