// Bemo Hero component to generate header section with base background
// all the content is centered with display table and table-cell
//
// @example usage:
//  .hero{--black}
//    .hero__body
//      .hero__body__inner
//        .hero__heading
//        .hero__text
//        .hero__text
//        .hero__actions

.hero
  position: relative

@if $enable-hero-colored
  @each $color, $value in $all-colors
    .hero--#{$color}
      @extend .hero
      +bg-variant($color)
      color: color-invert($value)
      @supports (--css: variables)
        background-color: var(--color-#{$color})

.hero--homepage
  @extend .hero
  background: $background-l
  height: 100vh
  overflow-y: hidden
  +padding-top(8)

.hero__inner
  z-index: 2
  position: relative
  +vertical-padding(8)
  +at-breakpoint(lap)
    +padding-top(16)

.title__hero
  +margin-top(2)
  +font-size(epsilon)
  +font-size(35px)
  font-weight: normal
  strong
    font-weight: bold
  +at-breakpoint(lap)
    +font-size(80px)
    line-height: 70px
  +at-breakpoint(desk)
    +margin-top(4)
    line-height: 90px

.hero__action
  display: none
  +at-breakpoint(lap)
    display: block
    +margin-top(4)
  i
    width: 16px  
    height: 16px  

.hero--homepage__image
  +margin-top(4)
  +at-breakpoint(lap)
    +margin-top(0)
  +at-breakpoint(desk)
    height: calc(100vh - 6rem)
    position: relative

.hero__text
  color: $gray-l-color
  +font-size(21px)
  +margin-top(2)
  +at-breakpoint(desk)
    +margin-top(4)
