$header-height: 48px
  
.overlay-nav
  position: relative
  background-color: $white-color
  color: $black-color
  z-index: 250
  height: calc(100vh - $header-height)
  +position(fixed, $header-height 0 0 0)
  text-align: center
  +vertical-padding(4)
  +horizontal-padding(2)

  &.is-hidden
    opacity: 0
    visibility: hidden


