.prefix
  letter-spacing: 0.88px
  +font-size(smallprint)
  opacity: .5  
  .background--white &
    color: $black-color

.prefix--medium
  @extend .prefix
  +font-size(regular)
  letter-spacing: 1.78px
  +margin-bottom(2)

.prefix--black
  @extend .prefix
  opacity: 1