$tab-border-color: $white-color

.tab
  +at-breakpoint(lte-palm)
    +margin-top(6)
    border-bottom: $tab-border-width solid $tab-border-color
  +margin-bottom(6)
  list-style: none

.tab__item
  +at-breakpoint(lte-palm)
    border-bottom: $tab-border-width solid $tab-border-color
    position: relative
  margin-top: 0

.tab__item__link
  +vertical-padding(2)
  letter-spacing: 1.78px
  display: inline-block
  +at-breakpoint(tab)
    +vertical-padding(0)
    +padding-bottom(1)
    text-transform: uppercase
    +font-size(smallprint)
  +at-breakpoint(lap)
    +font-size(regular)
  +hover
    opacity: .75
  &.is-active
    border-bottom: $tab-border-width solid $black-color
    color: $red-color
  &::after
    +at-breakpoint(lte-palm)
      +heading-font-family
      content: "+"
      color: $red-color
      +font-size(beta)
      +position(absolute, 30px 0 null null)
      font-weight: 100
      line-height: 0

.tab__content
  display: block

.tab__content__item
  display: none
  &.is-active
    display: block
    
.open-dropdown
  @extend .tab__item__link
  +at-breakpoint(tab)
    display: none

.tab__item__container
  +at-breakpoint(lte-palm)
    max-height: 0px
    transition: .3s
    overflow: hidden

  &.is-open
    +at-breakpoint(lte-palm)
      max-height: 200px
