.title
  color: $gray-l-color
  strong
    font-weight: 100
    color: $white-color
  +body-font-family
  +font-size(zeta)
  +at-breakpoint(lap)
    +font-size(gamma)

  .align--center &
    text-align: center

.title--small
  @extend .title
  +at-breakpoint(lap)
    +font-size(delta)

.hero__title
  color: $white-color
  @extend .title
  strong
    font-weight: bold

.title__hero--small
  @extend .title__hero
  +font-size(zeta)
  +at-breakpoint(lap)
    +font-size(delta)
    max-width: 70%
    +margin-top(4)
    +margin-bottom(4)

.title--gradient
  @extend .title
  +heading-font-family
  +font-size(epsilon)
  text-transform: uppercase
  letter-spacing: 4px
  +gradient-text
  display: inline-block
  +at-breakpoint(lap)
    +font-size(gamma)

.title--gradient--big    
  @extend .title--gradient

  .block-numbered &
    +at-breakpoint(lap)
      display: inline-block

.title--big
  @extend .title
  color: $gray-l-color
  strong
    color: $white-color
    font-weight: 100

  +font-size(delta)
  +at-breakpoint(lap)
    +font-size(beta)
  +at-breakpoint(desk)
    +font-size(alpha)

.title--medium
  @extend .title--big
  +at-breakpoint(lap)
    +font-size(gamma)
  +at-breakpoint(desk)
    +font-size(beta)

.title--white
  @extend .title
  color: $white-color