.title
  +body-font-family
  +font-size(zeta)
  +at-breakpoint(lap)
    +font-size(gamma)

.title--gradient
  @extend .title
  +heading-font-family
  +font-size(epsilon)
  text-transform: uppercase
  letter-spacing: 4px
  +gradient-text
  display: inline-block
  +at-breakpoint(lap)
    +font-size(gamma)

.title--big
  @extend .title
  +font-size(delta)
  +at-breakpoint(lap)
    +font-size(beta)
  +at-breakpoint(desk)
    +font-size(alpha)
