.widget
  border: 1px solid rgba($border-color, .5)
  width: 99.9%
  +padding(2)
  border-radius: 100px 0
  overflow: hidden
  position: relative
  +at-breakpoint(lap)
    min-height: 360px
  +at-breakpoint(desk)
    min-height: 410px
  +at-breakpoint(monitor)
    min-height: 22vw

.widget__body
  +at-breakpoint(tab)
    +padding-right(4)
  +at-breakpoint(lap)
    +position(absolute, null null 0 null)
    +bottom(2)

.widget--black-l
  @extend .widget
  border: none
  background-color: $background-l
  position: relative
  min-height: 300px
  +margin-bottom(1)
  +at-breakpoint(lap)
    min-height: 400px
    +margin-bottom(2)
  +at-breakpoint(full)
    min-height: 35vw


.widget--black-l--with-icon
  @extend .widget--black-l
  +at-breakpoint(lap)
    min-height: 300px
  img
    +center
    max-width: 220px
    max-height: 100px

.widget--gradient
  @extend .widget--black-l
  background-color: transparent
  position: relative
  +at-breakpoint(lap)
    min-height: 300px
  +at-breakpoint(full)
    min-height: 25vw    
  &::after
    content: ""
    background: $gradient
    +position(absolute, 1px)
    z-index: 0
    border-radius: 100px 0

.widget__advisor__image
  +position(absolute, 0)
  transition: .3s
  z-index: 1

.widget--no-margin-bottom
  @extend .widget
  padding-bottom: 0
  .image--standard
    +margin-top(8)

.widget__header
  height: 90px
  position: relative

  img
    height: 50px
    position: absolute
    right: 0

.widget__title
  +heading-font-family
  +font-size(20px)
  font-weight: bold
  letter-spacing: 1.5px
  max-width: 70%
  +margin-bottom(2)

.widget__text
  color: $gray-l-color
  letter-spacing: 0.75px

.widget__name
  +heading-font-family
  +font-size(18px)
  color: $white-color
  letter-spacing: 1.5px
  +at-breakpoint(lap)
    +vertical-margin(1)

.widget__role
  letter-spacing: 0.75px
  color: $gray-l-color

.widget__link
  display: flex
  align-items: center
  +at-breakpoint(lap)
    +margin-top(1)
  span
    color: $gray-l-color
    letter-spacing: 0.75px
    +margin-right(.5)
    transition: .3s
  i
    width: 15px

.widget__hover
  +hover
    span
      +margin-right(1)
    .widget__advisor__image
      mix-blend-mode: luminosity

    

