.widget
  border: 1px solid rgba($border-color, .5)
  width: 99.9%
  background: #000
  +padding(4)
  border-radius: 100px 0
  overflow: hidden
  position: relative


.widget__body
  +at-breakpoint(tab)
    +padding-right(4)
  +at-breakpoint(lap)
    +position(absolute, null null 0 null)
    +bottom(2)

.widget--black-l
  @extend .widget
  border: none
  background-color: $background-l
  position: relative
  min-height: 300px
  +margin-bottom(1)
  +at-breakpoint(lap)
    min-height: 400px
    +margin-bottom(2)
  +at-breakpoint(full)
    min-height: 35vw


.widget--black-l--with-icon
  @extend .widget--black-l
  +at-breakpoint(lap)
    min-height: 300px
  img
    +center
    max-width: 220px
    max-height: 200px

.widget--gradient
  @extend .widget--black-l
  background-color: transparent
  position: relative
  +at-breakpoint(lap)
    min-height: 300px
  +at-breakpoint(full)
    min-height: 25vw
  &::after
    content: ""
    background: $gradient
    +position(absolute, 1px)
    z-index: 0
    border-radius: 100px 0

.widget__advisor__image
  +position(absolute, 0)
  transition: .3s
  z-index: 1

.widget--no-padding
  @extend .widget
  padding: 0

.widget--padding-big
  @extend .widget
  +padding(5)
  +at-breakpoint(lap)
    +padding(7)

.widget--no-margin-bottom
  @extend .widget
  padding-bottom: 0
  .image--standard
    +margin-top(8)

.widget__header
  height: 90px
  position: relative

  img
    height: 80px
    position: absolute
    right: 30px

.widget__title
  +heading-font-family
  +font-size(20px)
  font-weight: bold
  letter-spacing: 1.5px
  max-width: 70%
  +margin-bottom(2)
  text-transform: uppercase

.widget__text
  // color: $gray-l-color
  color: $white-color
  letter-spacing: 0.75px

.widget__name
  +heading-font-family
  +font-size(18px)
  color: $white-color
  letter-spacing: 1.5px
  +at-breakpoint(lap)
    +vertical-margin(1)

.widget__role
  letter-spacing: 0.75px
  color: $gray-l-color

.widget__link
  display: flex
  align-items: center
  +at-breakpoint(lap)
    +margin-top(1)
  span
    color: $gray-l-color
    letter-spacing: 0.75px
    +margin-right(.5)
    transition: .3s
  i
    width: 15px

.widget__hover
  +hover
    span
      +margin-right(1)
    .widget__advisor__image
      mix-blend-mode: multiply

.widget--small
  @extend .widget
  +vertical-margin(3)
  min-height: 100px
  +horizontal-padding(3)
  +padding-bottom(4)
  border-radius: 60px 0
  +at-breakpoint(lap)
    .widget__body
      position: relative
      bottom: auto
    +horizontal-padding(4)
    +vertical-margin(1)


.widget__header--flex
  display: flex
  justify-content: space-between
  align-items: center
  +padding-top(2)
  +padding-bottom(1)

.widget__header__number
  opacity: .6

.widget__text
  em
    color: white
    font-style: normal

.widget--contacts
  @extend .widget
  +padding(4)
  height: 100%
  min-height: 500px
  display: flex
  flex-direction: column

  +at-breakpoint(tab)
    +padding(6)

  +at-breakpoint(desk)
    +padding(6)

.widget__image
  +margin-bottom(4)

  figure, img
    max-height: 30px

    +at-breakpoint(lap)
      max-height: 40px

    +at-breakpoint(desk)
      max-height: 60px

.widget__mail
  margin-top: auto

.widget__actions
  margin-top: 0

.widget__photo
  @extend .widget
  border: 0
  width: 100%
  +padding(0)
  min-height: 100%
  background: #000
  position: relative
  z-index: 1