- page = params.page
- locale = params.locale

meta charset="utf-8"
meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=5"
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="facebook-domain-verification" content="cjig6mq4eyp57nfcnbdixq5phlrhjf"

/ = if page == apply_page(locale) do
/   meta http-equiv="refresh" content="0; url=https://vento.surveysparrow.com/s/joinvento/tt-59ecaf"

link rel="preconnect" href="https://cdn.iubenda.com"
link rel="preconnect" href="https://www.google-analytics.com"

= yield_content :head
= stylesheet_link_tag "style"
= partial "partials/favicons"

script
  |!function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window,document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '387082136351588'); fbq('track', 'PageView'); 
noscript
  img height="1" width="1" src="https://www.facebook.com/tr?id=387082136351588&ev=PageView&noscript=1"