= javascript_include_tag "application"
= yield_content :page_js

/ javascript:
/   (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);

/ = if environment() == "production" do
/   script type="plain/text" async="async" class="_iub_cs_activate" data-iub-purposes="4" src="https://www.googletagmanager.com/gtag/js?id=UA-118262650-1"
/   <script type="plain/text" class="_iub_cs_activate" data-iub-purposes="4">function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-118262650-1");</script>

javascript:
  var _iub = _iub || [];
  _iub.csConfiguration = {"lang":"en-GB","siteId":2296733,"cookiePolicyId":51001079,"perPurposeConsent":true,"banner":{ "rejectButtonColor":"#00ffff","rejectButtonCaptionColor":"#000000","textColor":"#ffffff","backgroundColor":"#000000","position":"bottom","fontSize":"16px","acceptButtonDisplay":true,"acceptButtonColor":"#00ffff","acceptButtonCaptionColor":"#000000","customizeButtonDisplay":true,"customizeButtonColor":"#00ff6c","customizeButtonCaptionColor":"#000000" }};
script[type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"]
script[type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async]

